<%-include("partials/header")-%>
<div class="container">
    <%posts.forEach((post)=>{%>
      <h2><%=post.title%></h2>
        <p class="text-muted"><%=post.createdAt.toLocaleString()%></p>
    <hr>
      <p><%=post.content%></p>
    <%})%>
</div>
<%-include("partials/footer")-%>
